@model DiasComputer.DataLayer.Entities.SiteResources.Banner;
<div class="col-12">
    <div class="widget widget-banner card">
        <a href="@Model.BannerRedirectTo" target="_blank">
            <img class="img-fluid" src="/images/banner/@Model.BannerImg" alt="@Model.BannerAltName">
        </a>
    </div>
</div>