@model DiasComputer.DataLayer.Entities.SiteResources.Banner
<div class="col-12">
    <section class="banner">
        <a href="@Model.BannerRedirectTo">
            <img src="/images/banner/@Model.BannerImg" alt="@Model.BannerAltName">
        </a>
    </section>
</div>