@model DiasComputer.Core.DTOs.Admin.CouponsViewModel
@{
    ViewData["Title"] = "ایجاد کد تخفیف";
}

<div class="margin-pages">
    <h1>افزودن کد تخفیف جدید</h1>

    <hr />
    <div class="row">
        <div class="col-12 col-md-12">
            <form asp-action="CreateCoupon" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="CouponCode" class="control-label"></label>
                        <input asp-for="CouponCode" class="form-control text-left"/>
                        <span asp-validation-for="CouponCode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CouponPercent" class="control-label"></label>
                        <input asp-for="CouponPercent" class="form-control text-left" />
                        <span asp-validation-for="CouponPercent" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CouponCount" class="control-label"></label>
                        <input asp-for="CouponCount" class="form-control text-left" />
                        <span asp-validation-for="CouponCount" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ActiveFrom" class="control-label"></label>
                        <input name="startDate" type="text" id="startDateFilter" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ActiveTill" class="control-label"></label>
                        <input  name="endDate" type="text" id="endDateFilter" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="IsActive" class="control-label"></label><br/>
                        <input asp-for="IsActive" />
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="افزودن کد تخفیف" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-warning" asp-action="CouponsIndex">انصراف</a>
    </div>
</div>


@section Scripts {

    <link rel="stylesheet" href="/admin-resources/plugins/DatePicker/css/persianDatepicker-default.css" />
    <script src="/admin-resources/plugins/DatePicker/js/jquery-1.10.1.min.js" ></script>
    <script src="/admin-resources/plugins/DatePicker/js/persianDatepicker.min.js"></script>
    <script>
        $("#startDateFilter,#endDateFilter").persianDatepicker();
    </script>

}
