@model DiasComputer.Core.DTOs.Account.RecoverPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="wrapper default">
        <div class="container">
            <div class="row">
                <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                    <div class="account-box">
                        <a href="#" class="logo">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                        <div class="account-box-title">بازیابی کلمه عبور</div>
                        <div class="account-box-content">
                            <form class="form-account" asp-action="RecoverPassword">
                                <div class="form-account-title">آدرس ایمیل</div>
                                <div class="form-account-row">
                                    <label class="input-label"><i class="now-ui-icons ui-1_email-85"></i></label>
                                    <input class="input-field" asp-for="EmailAddress" type="email" placeholder="آدرس ایمیل خود را وارد نمایید">
                                    <span asp-validation-for="EmailAddress"></span>
                                </div>
                                <div class="form-account-row form-account-submit">
                                    <div class="g-recaptcha" data-sitekey="6LeXlokgAAAAAGJ2fMw2wFLyp0oC7MYvG934Qjk8"></div>
                                    <div class="parent-btn">
                                        <button class="dk-btn dk-btn-info">
                                            بازیابی کلمه عبور
                                            <i class="now-ui-icons arrows-1_refresh-69"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

