@using DiasComputer.DataLayer.Entities.Users
@model DiasComputer.Core.DTOs.Admin.UserViewModel.ManageUsersViewModel

@{
    ViewData["Title"] = "ویرایش کاربر";
    List<Role> roles = ViewBag.UserRoles;
}

<div class="margin-pages">
    <h1>ویرایش کاربر</h1>

    <hr />
    <div class="row">
        <div class="col-12 col-md-12">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" class="form-control" />
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control"/>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="IsActive" class="control-label"></label>
                        <br/>
                        <input asp-for="IsActive" type="checkbox" />
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="NationalCode" class="control-label"></label>
                        <input asp-for="NationalCode" class="form-control" />
                        <span asp-validation-for="NationalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="BankAccountNumber" class="control-label"></label>
                        <input asp-for="BankAccountNumber" class="form-control" />
                        <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Avatar" class="control-label"></label>
                        <input asp-for="Avatar" class="form-control" type="file"/>
                        <span asp-validation-for="Avatar" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="RoleId" class="control-label"></label>
                        <select class="form-control" asp-for="RoleId">
                            @foreach (var role in roles)
                            {
                                <option value="@role.RoleId">@role.RoleName</option>
                            }
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ویرایش کاربر" class="btn btn-warning" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-secondary" asp-action="Index">انصراف</a>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}