@model List<DiasComputer.Core.DTOs.Account.LatestWishListViewModel>
@{
    ViewData["Title"] = "لیست علاقه مندی ها";
}
<main class="profile-user-page default">
    <div class="container">
        <div class="row">
            <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-12">
                            <h1 class="title-tab-content">لیست علاقمندی ها</h1>
                        </div>
                        <div class="content-section default">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-6 col-sm-12">
                                        <div class="profile-recent-fav-row">
                                            <a href="#" class="profile-recent-fav-col profile-recent-fav-col-thumb">
                                                <img src="/images/productThumbnailImages/@item.ProductImage">
                                            </a>
                                            <div class="profile-recent-fav-col profile-recent-fav-col-title">
                                                <a href="#">
                                                    <h4 class="profile-recent-fav-name">
                                                        @item.ProductTitle
                                                    </h4>
                                                </a>
                                                <div class="profile-recent-fav-price">@item.ProductPrice.ToString("#,0")  تومان</div>
                                            </div>
                                            <div class="profile-recent-fav-col profile-recent-fav-col-actions">
                                                <a class="btn btn-danger" href="/MyProfile/WishList/Remove/@item.WishListId">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                            <div class="col-12 text-left mb-3">
                                                <a class="view-product" href="/Products/@item.ProductId">مشاهده محصول</a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("ProfileMenu")
        </div>
    </div>
</main>