@inject IConfiguration _configuration;
@{
    ViewData["Title"] = "صفحه اصلی";
}

@section Metas
{
    <meta name="description" content="فروش آنلاین سخت افزار و لوازم جانبی کامپیوتر" />
    <meta property="og:title" content="دیاس کامپیوتر" />
    <meta property="og:description" content="فروش قطعات ، لوازم جانبی کامپیوتر و لپتاپ و تلفن همراه" />
    <meta property="og:url" content="@_configuration["Address"]" />
}

<main class="main default">
        <div class="container">
        <!-- banner -->
        <div class="row">
            <cache expires-after="TimeSpan.FromHours(2)">
                @await Component.InvokeAsync("TopBanner")
            </cache>
            </div>
            <!-- banner -->
            <div class="row">
                <aside class="sidebar col-12 col-lg-3 order-2 order-lg-1">
                    <div class="sidebar-inner default">
                        <cache expires-after="TimeSpan.FromHours(24)">
                            @await Component.InvokeAsync("ServicesWidget")
                        </cache>

                        <cache expires-after="TimeSpan.FromMinutes(5)">
                            @await Component.InvokeAsync("SuggestionWidget")
                        </cache>
                        <cache expires-after="TimeSpan.FromHours(2)">
                            @await Component.InvokeAsync("SideBanners")
                        </cache>
                    </div>
                </aside>
                <div class="col-12 col-lg-9 order-1 order-lg-2">
                    <cache expires-after="TimeSpan.FromMinutes(30)">
                        @await Component.InvokeAsync("Slider")
                    </cache>

                <cache expires-after="TimeSpan.FromHours(1)">
                    @await Component.InvokeAsync("AmazingItems")
                </cache>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <cache expires-after="TimeSpan.FromHours(2)">
                                    @await Component.InvokeAsync("TopMiddleBanners")
                                </cache>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <cache expires-after="TimeSpan.FromMinutes(10)">
                                @await Component.InvokeAsync("LatestPCWidget")
                            </cache>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <cache expires-after="TimeSpan.FromMinutes(10)">
                                @await Component.InvokeAsync("LatestAccessoriesWidget")
                            </cache>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <cache expires-after="TimeSpan.FromHours(2)">
                                    @await Component.InvokeAsync("BottomMiddleBanners")
                                </cache>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <cache expires-after="TimeSpan.FromMinutes(10)">
                                @await Component.InvokeAsync("LatestPhoneWidget")
                            </cache>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <cache expires-after="TimeSpan.FromMinutes(10)">
                                @await Component.InvokeAsync("LatestLaptopWidget")
                            </cache>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <cache expires-after="TimeSpan.FromHours(2)">
                                    @await Component.InvokeAsync("BottomBanner")
                                </cache>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <cache expires-after="TimeSpan.FromMinutes(10)">
                                @await Component.InvokeAsync("LatestConsoleWidget")
                            </cache>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <cache expires-after="TimeSpan.FromDays(7)">
                        @await Component.InvokeAsync("Brands")
                    </cache>
                </div>
            </div>
        </div>
    </main>