@{
    ViewData["Title"] = "صفحه مورد نظر یافت نشد";
}

<main class="page-404">
    <div class="container text-center">
        <div class="page-404-title">
            <h1>با عرض پوزش ؛ مشکلی در سمت سرور رخ داده است !</h1>
        </div>
        <div class="page-404-actions">
            <a href="/" class="page-404-action page-404-action--primary">صفحه اصلی</a>
        </div>
        <div class="page-404-image">
            <img src="/main-resources/assets/img/500.png">
        </div>
    </div>
</main>