@{
    ViewData["Title"] = "بازگرداندن کالا";
}

<div class="accordion default text-center" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    قوانین بازگرداندن کالا
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
            <div class="card-body">
                <p>
                    درصورتی که کالا با اطلاعات منطبق با سایت مطابقت نداشته باشد !
                </p>
                <p>
                    در صورتی که کالا دارای ایراد فنی باشد !
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    رویه بازگردانی کالا
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
            <div class="card-body">
                <p>
                    جهت بازگردانی کالا ؛ به حساب کاربری خود و سپس سفارشات خود وارد شوید و بر روی بازگردانی این سفارش کلیک نمایید و درخواست خود را ثبت نمایید !
                </p>
                <p>
                    پس از اینکه درخواست خود را ثبت کردید ، تا 24 ساعت درخواست شما پیگیری شده و مامورین دریافت کالا به محل شما مراجعه کرده و کالا را تحویل میگیرند!
                </p>
                <p>
                    در صورتی که درخواست شما با ایراد کالا منطبق باشد ، درخواست تایید شده و مبلغ به حساب شما واریز خواهد شد !
                </p>
            </div>
        </div>
    </div>
</div>