@model DiasComputer.Core.DTOs.Admin.GalleriesViewModel
@{
    ViewData["Title"] = "افزودن تصویر جدید";
}

<div class="margin-pages">
    <h1>افزودن تصویر جدید</h1>

    <hr />
    <div class="row">
        <div class="col-12 col-md-12">
            <form asp-action="AddNewGalleryImage" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="ProductId" class="form-control" value="@ViewBag.ProductId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="ImgAltName" class="control-label"></label>
                        <input asp-for="ImgAltName" class="form-control" />
                        <span asp-validation-for="ImgAltName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="SelectedImage" class="control-label"></label>
                        <input type="file" asp-for="SelectedImage" class="form-control" />
                        <span asp-validation-for="SelectedImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="افزودن تصویر جدید" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-warning" asp-action="GalleryIndex" asp-route-productId="@ViewBag.ProductId">انصراف</a>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}