<div class="container">
    <div class="footer-services">
        <div class="row">
            <div class="service-item col">
                <a href=# target="_blank">
                    <img src="/main-resources/assets/img/svg/delivery.svg">
                </a>
                <p>تحویل اکسپرس</p>
            </div>
            <div class="service-item col">
                <a href=# target="_blank">
                    <img src="/main-resources/assets/img/svg/contact-us.svg">
                </a>
                <p>پشتیبانی 24 ساعته</p>
            </div>
            <div class="service-item col">
                <a href=# target="_blank">
                    <img src="/main-resources/assets/img/svg/payment-terms.svg">
                </a>
                <p>پرداخت درمحل</p>
            </div>
            <div class="service-item col">
                <a href=# target="_blank">
                    <img src="/main-resources/assets/img/svg/return-policy.svg">
                </a>
                <p>۷ روز ضمانت بازگشت</p>
            </div>
            <div class="service-item col">
                <a href=# target="_blank">
                    <img src="/main-resources/assets/img/svg/origin-guarantee.svg">
                </a>
                <p>ضمانت اصل بودن کالا</p>
            </div>
        </div>
    </div>
    <div class="footer-widgets">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="widget-menu widget card">
                    <header class="card-header">
                        <h3 class="card-title">راهنمای خرید از دیاس کامپیوتر</h3>
                    </header>
                    <ul class="footer-menu">
                        <li>
                            <a href="/AboutUs">نحوه ثبت سفارش</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="widget-menu widget card">
                    <header class="card-header">
                        <h3 class="card-title">خدمات مشتریان</h3>
                    </header>
                    <ul class="footer-menu">
                        <li>
                            <a href="/Refer">رویه‌های بازگرداندن کالا</a>
                        </li>
                        <li>
                            <a href="/Privacy">حریم خصوصی</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="widget-menu widget card">
                    <header class="card-header">
                        <h3 class="card-title">با دیاس کامپیوتر</h3>
                    </header>
                    <ul class="footer-menu">
                        <li>
                            <a href="/ContactUs">تماس با دیاس کامپیوتر</a>
                        </li>
                        <li>
                            <a href="/AboutUs">درباره دیاس کامپیوتر</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="newsletter">
                    <p>جهت عضویت و لغو سرویس خبرنامه :</p>
                    <form asp-action="JoinToNewsletter" asp-controller="Home">
                        <input type="email" name="email" class="form-control"
                               placeholder="آدرس ایمیل خود را وارد کنید...">
                        <input type="submit" class="btn btn-primary" value="ارسال">
                    </form>
                </div>
                <div class="socials">
                    <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                    <div class="footer-social">
                        <a href="https://Instagram.com/diascomputer" target="_blank"><i class="fa fa-instagram"></i>اینستاگرام</a>
                    </div>
                    <div class="footer-social">
                        <a href="https://t.me/diascomputer" target="_blank"><i class="fa fa-telegram"></i>تلگرام</a>
                    </div>
                    <div class="footer-social">
                        <a href="https://whatsapp.com/diascomputer" target="_blank"><i class="fa fa-whatsapp"></i>واتس اپ</a>
                    </div>
                    <div class="footer-social">
                        <a href="https://twitter.com/diascomputer" target="_blank"><i class="fa fa-twitter"></i>توییتر</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="row">
            <div class="col-12 col-lg-3">
                <span>شنبه تا پنج شنبه از ساعت 8 تا 19 پاسخگوی شما هستیم .</span>
            </div>
            <div class="col-12 col-lg-2">شماره تماس: 02100000000</div>
            <div class="col-12 col-lg-2">آدرس ایمیل:<a href="mailto:Info@DiasComputer.com">Info@DiasComputer.com</a></div>
            <div class="col-12 col-lg-2">تلفن همراه:<a href="tel:09120000000">09120000000</a></div>
            <div class="col-12 col-lg-3 text-center">
                <a href=# target="_blank">
                    <img src="/main-resources/assets/img/bazzar.png" width="120" height="40"
                         alt="">
                </a>
                <a href=# target="_blank">
                    <img src="/main-resources/assets/img/sibapp.png" width="120" height="40"
                         alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="description">
    <div class="container">
        <div class="row">
            <div class="site-description col-12 col-lg-7">
                <h1 class="site-title">فروشگاه اینترنتی دیاس کامپیوتر، بررسی، انتخاب و خرید آنلاین</h1>
                <p>
                    دیاس کامپیوتر به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                    پایبندی به سه اصل کلیدی، پرداخت در
                    محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های
                    معتبر جهان، به بزرگ‌ترین فروشگاه
                    اینترنتی ایران تبدیل شود. به محض ورود به دیاس کامپیوتر با یک سایت پر از کالا رو به رو
                    می‌شوید! هر آنچه که نیاز دارید و به
                    ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                </p>
            </div>
            <div class="symbol col-12 col-lg-5">
                <a href=# target="_blank"><img src="/main-resources/assets/img/symbol-01.png" alt=""></a>
                <a href=# target="_blank"><img src="/main-resources/assets/img/symbol-02.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <p>
            کلیه حقوق مادی و معنوی متعلق به دیاس کامپیوتر می باشد. Copyright 2022.
        </p>
    </div>
</div>