<div class="search-area default">
    <form action="/Search" class="search">
        <input type="text" name="searchPhrase" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
        <button type="submit"><img src="/main-resources/assets/img/search.png" alt=""></button>
    </form>
</div>