 <form action="">
                    <input type="text" placeholder="جستجو ...">
                    <button type="submit"><img src="/main-resources/assets/img/search.png" alt=""></button>
                </form>
                <ul>
                    <li><a href=#><i class="now-ui-icons users_single-02"></i></a></li>
                    <li><a href=#><i class="now-ui-icons shopping_basket"></i></a></li>
                </ul>